
<FormSection Title="Equipment, Utensils and Accessories">
  
        @foreach (var utensilPart in Recipe.Utensils)
        {
              <div class="d-flex row gy-1 gx-1 align-items-center ms-2 mb-1">
                   <FormInputGroup Id="utenRequiredAmount" Label="Amount" Width="col-sm-2"  >                
                    <InputNumber aria-required="true"  id="utensilRequiredAmount" min=1 class="form-control "  @bind-Value="utensilPart.RequiredAmount" />
                    <ValidationMessage aria-alert="true" For="@(() => utensilPart.RequiredAmount)" />
               </FormInputGroup>

             <FormInputGroup Id="utensil" Label="Utensil" Width="col-sm-8"  >                
                   <UtensilTypeahead  UtensilPart="utensilPart" />
               </FormInputGroup>
          
               
              <div class="col-sm-1">
                    <button role="button" aria-label="removeUtensil" class="btn link-danger " @onclick="@(() => Recipe.Utensils.Remove(utensilPart))" type="button"><i class="bi bi-dash-circle"></i></button>
                </div>
            </div>  
        }
        <div class="row">
            <div class="col">
                <button role="button" aria-label="addNewUtensil" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.Utensils.Add(new UtensilPart()))">Add  </button>
                <ValidationMessage aria-label="true" For="@(() => Recipe.Utensils)" />
            </div>
        </div>

   
</FormSection>

@code {
    [Parameter] public Recipe Recipe { get; set; } = new Recipe();

       

 
}
