  <div class="col  justify-content-center">
    <h5><strong>@Title</strong>  </h5>
  </div>
    <ul style="list-style-type:none;padding:unset;margin:unset">
        @foreach (var recipePart in RecipeParts)
       {
         @if(RecipeParts.Count > 1)
            {
                <h6>@recipePart.Title</h6>
            }

            @foreach (var ing in recipePart.RecipePartIngredients)
            {
             <li >  @IngredientDisplayHelper.Format(ing.Quantity,ing.Measure,ing.Ingredient.Name,ing.AdditionalInformation) </li>
            }
        }    
</ul>

@code {
    [Parameter] public string Title { get; set; } = string.Empty; 
    [Parameter] public List<RecipePart> RecipeParts { get; set; } = new ();
}
