 <div class=" align-content-start">
 <h5><strong>Utensils</strong></h5>

    <ul style="list-style-type:none;padding:unset;margin:unset">
        @foreach (var utensil in UtensilParts)
       {
           <li >@utensil.ToString()</li>
       }
    </ul>
</div>

@code {
    [Parameter]public IReadOnlyList<UtensilPart> UtensilParts{get;set;}

}
