@page "/"
@using CookTo.Shared.Models
@inject  RecipeSummaryManager RecipeSummaryManager


<PageTitle>CookTo Recipes</PageTitle>

<LoadingDisplay IsLoading="_isLoading">
     <HighlightedRecipeCard  />
     <div class="row mt-5">
         <div role="list" class="grid">
             @foreach(var recipe in _recipeSummaries)
             {       
                 <RecipeCard RecipeSummary="@recipe" />
             }
             </div> 
      </div>
</LoadingDisplay>
        <div class="mb-4 mt-4">
            <p class="font-italic text-center">Have a recipe to share <a aria-label="navAddRecipe" href="add-recipe">Add Recipe here</a>.</p>
        </div>
   

@code {
    private IEnumerable<RecipeSummary>? _recipeSummaries= new List<RecipeSummary>();
    private bool _isLoading;
    protected override async Task OnParametersSetAsync()
    {
        _isLoading = true;
        _recipeSummaries =  await RecipeSummaryManager.GetByTermsAsync("10");
        _isLoading = false;
    }

}