<div class="mb-4">
    <div class="col col-sm-4 justify-content-center">
    <h5><strong>Method</strong></h5>
    </div>
    <ul>
    @foreach (var step in CookingSteps)
    {
        <CookingStepSection CookingStep="@step" />
    }
    </ul>
 </div>

@code {
    [Parameter] public IReadOnlyList<CookingStep> CookingSteps { get; set; }
}