<div class="mb-4">
    <div class="col col-sm-4 justify-content-center">
    <h5><strong>Method</strong></h5>
    </div>
  
    @foreach (var step in CookingSteps)
    {
        <CookingStepDisplaySection  CookingStep="@step" />
    }
  
 </div>

@code {
    [Parameter] public IReadOnlyList<CookingStep> CookingSteps { get; set; }
}