<FormSection Title="Recipe Parts">
    @foreach (var part in Recipe.RecipeParts)
    {
        <div class="d-flex row gy-1 gx-1 align-items-center ms-2 mb-2 col-sm-11 rounded border border-primary">
             <RecipePartInput RecipePart="@part">
                 <div class=" align-content-center">
                    <button aria-label="removeItem" class="btn btn-danger " @onclick="@(() => Recipe.RecipeParts.Remove(part))" type="button">Remove Part</button>
                </div>
             </RecipePartInput>
          
        </div>
    }
    <div class="row">
        <div class="col">
            <button aria-label="addRecipePartItem" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.RecipeParts.Add(new RecipePart()))">Add Recipe Part</button>
            <ValidationMessage aria-alert="true" For="@(() => Recipe.RecipeParts )" />
        </div>
    </div>
</FormSection>
@code {
    [CascadingParameter] public Recipe Recipe { get; set; } = new(); 
}
