<FormSection Title="Recipe Parts">
    @foreach (var part in Recipe.RecipeParts)
    {
        <div class="d-flex row gy-1 gx-1 align-items-center ms-2 mb-2">
            <div class="ms-4">
                <RecipePartInput RecipePart="@part" />
            </div>

            <div class="col-sm-1">
                <button aria-label="removeItem" class="btn link-danger " @onclick="@(() => Recipe.RecipeParts.Remove(part))" type="button"><i class="bi bi-dash-circle"></i></button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <button aria-label="addRecipePartItem" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.RecipeParts.Add(new RecipePart()))">Add Recipe Part</button>
            <ValidationMessage aria-alert="true" For="@(() => Recipe.RecipeParts )" />
        </div>
    </div>
</FormSection>
@code {
    [Parameter] public Recipe Recipe { get; set; } = new ();
}
