@*@inject AppState AppState

@if(AppState.FavoriteRecipesState.IsFavorite(RecipeId))
{
    <button class="btn btn-outline-primary ml-1" title="Favorite" @onclick="@(() => AppState.FavoriteRecipesState.RemoveFavorite(RecipeId))">
        <i class="bi bi-heart-fill"></i>
    </button>
}
else
{
    <button class= "btn btn-outline-primary ml-1" title = "Favorite" @onclick = "@(() => AppState.FavoriteRecipesState.AddFavorite(RecipeId))" >    
     <i class= "bi bi-heart" ></i>
     </button >
}

@code
{
    [Parameter, EditorRequired] public string RecipeId { get; set; } = default!;
    
}*@