@page "/add"
@inject IIngredientManager IngredientManager

<EditForm Model="@ingredient" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator/>

	<InputText id="name" @bind-Value="@ingredient.Name"/>
	<button type="submit">Add</button>
</EditForm>

@code{
	[Parameter]
	public IngredientDto ingredient { get; set; }
	[Parameter]
	public EventCallback<IngredientDto> onAdd{ get; set; }

	private async Task HandleValidSubmit()
	{
		var response = await IngredientManager.Insert(ingredient);	
	}
}
