@inherits LayoutComponentBase


  
 
 @*   <div class="sidebar">
     
    </div>*@

  @*  <main>  
        <article class="content px-4">
            @Body
        </article>
    </main>*@
  <body>
  
    <NavMenu />

    <div class="container">
        @Body
    </div>
</body>

