@page "/addI"
@inject IUtensilManager UtensilManager

<EditForm Model="@utensil" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator/>

	<InputText id="name" @bind-Value="@utensil.UtensilName"/>
	<button type="submit">Add</button>
</EditForm>

@code{
	[Parameter, EditorRequired]
	public UtensilDto utensil { get; set; } = default!;
	[Parameter]
	public EventCallback<UtensilDto> onAdd{ get; set; }

	private async Task HandleValidSubmit()
	{
		var response = await UtensilManager.Insert(utensil);	
	}
}
