@using System.Text;

<section>
 
<h6><strong>@RecipePart.PartTitle</strong> </h6>
 
<ul style="list-style-type:none; padding-inline-start: 0px;">
        @foreach (var item in Items)
         {                                  
             <li>@item</li>
          }
</ul>
 </section>

@code {
    [Parameter]public RecipePart RecipePart{get;set;}
    private List<string> Items = new List<string>();

    protected override void OnInitialized()
    {
        foreach (var step in RecipePart.CookingSteps)
        {
            if (step.PartIngredients is not null || step.PartIngredients.Count > 0)
            {
                foreach (var item in step.PartIngredients)
                {
                     Items.Add(CreateListItem(item));
                }
               
            }
        }
    }

    public string CreateListItem(PartIngredient partIngredient)
    {
        StringBuilder sBuilder = new StringBuilder();
        if(partIngredient.Amount > 0)
        {
            sBuilder.Append(partIngredient.Amount);    

            if(!partIngredient.Unit.Equals(MeasureUnit.None))
            {
                if (partIngredient.Unit.Equals(MeasureUnit.pinch))
                {
                    sBuilder.Append(" ");
                }
                sBuilder.Append(partIngredient.Unit.ToString());   
            }
            
            sBuilder.Append(" "); 
        }

        sBuilder.Append(partIngredient.Ingredient.Name);
        if (string.IsNullOrEmpty(partIngredient.AdditionalInformation));
        {
            sBuilder.Append($" {partIngredient.AdditionalInformation}");
        }
        return sBuilder.ToString();
    }
}
