@page "/favorite-Recipes"
@inject AppState AppState
@implements IDisposable

<PageTitle>Favorite Recipes - CookTo</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Favorite Recipes</li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Favorite Recipe</h3>

@if (AppState.FavoriteRecipesState.FavoriteRecipes.Any())
{
   @* <TrailDetails Trail="_selectedTrail" />*@

    <div class="grid">
        @foreach (var recipe in AppState.FavoriteRecipesState.FavoriteRecipes)
        {
           @* <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />*@
        }
    </div>
}
else
{
    <NoRecipes>
        You don't have any favorite Recipes :(
    </NoRecipes>
}

@code {
    private RecipeDto? _selectedRecipe;

    protected override void OnInitialized()
        => AppState.FavoriteRecipesState.OnChange += StateHasChanged;

    private void HandleRecipeSelected(RecipeDto recipe)
        => _selectedRecipe = recipe;

    void IDisposable.Dispose()
        => AppState.FavoriteRecipesState.OnChange -= StateHasChanged;
}
