@inject IngredientManager IngredientManager

<FormSection Title="Recipe parts">


            @foreach (var part in Recipe.RecipeParts)
            {
                <RecipePartFormPart RecipePart="part" RemoveCurrentPart="RemovePart"/>
            }
     
    <div class="row">
        <div class="col">
            <button role="button" aria-label="newRecipePart" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.RecipeParts.Add(new RecipePart()))">Add RecipePart</button>
            <ValidationMessage aria-alert="true" For="@(() => Recipe.RecipeParts)" />
        </div>
    </div>
</FormSection>

@code {
    [Parameter] public FullRecipe Recipe { get; set; }
  
    private async Task RemovePart(RecipePart recipePart)
    {
        Recipe.RecipeParts.Remove(recipePart);
    }
    }
