@inject UtensilManager Manager
<FormSection Title="Equipment, Utensils and Accessories">
  
        @foreach (var utensil in Recipe.Utensils)
        {
              <div class="d-flex row gy-1 gx-1 align-items-center ms-2 mb-1">
                   <FormInputGroup Id="utenRequiredAmount" Label="Amount" Width="col-sm-2"  >                
                    <InputNumber aria-required="true"  id="utensilRequiredAmount" min=1 class="form-control "  @bind-Value="utensil.RequiredAmount" />
                    <ValidationMessage aria-alert="true" For="@(() => utensil.RequiredAmount)" />
               </FormInputGroup>

              <UtensilTypeahead Part="utensil" UtensilManager="Manager"  Utensils="Utensils" />
               
              <div class="col-sm-1">
                    <button role="button" aria-label="removeUtensil" class="btn link-danger " @onclick="@(() => Recipe.Utensils.Remove(utensil))" type="button"><i class="bi bi-dash-circle"></i></button>
                </div>
            </div>  
        }
        <div class="row">
            <div class="col">
                <button role="button" aria-label="addNewUtensil" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.Utensils.Add(new UtensilPart()))">Add  </button>
                <ValidationMessage aria-label="true" For="@(() => Recipe.Utensils)" />
            </div>
        </div>

   
</FormSection>

@code {
    [Parameter] public RecipeDto Recipe { get; set; }
    public IList<UtensilDto>? Utensils { get; set; } = new List<UtensilDto>();

    protected override async Task OnInitializedAsync()
    {
        Utensils = await Manager.GetAll();
    }
       

 
}
