
 <button aria-Label="shoppinglist" class="btn btn-outline-secondary float-right" title="ShoppingList" @onclick="(()=>ShowShoppingList())">
              <i class="bi bi-list-check"></i>
  </button>
@code {
    [Parameter]
    public  string Title { get; set; }
    [Parameter]
    public IReadOnlyList<string> ShoppingList { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    private void ShowShoppingList()
    {
        var values = new ModalParameters();
       
        values.Add(nameof(ShoppingList),ShoppingList);
        Modal.Show<ShoppingListModal>(Title,values);

       
    }
}
