@inject CuisineManager CuisineManager
<div class="col-4">
    <BlazoredTypeahead MaximumSuggestions=3 id="cuisineInput"
                       SearchMethod="SearchCuisines"
                       @bind-Value="Recipe.Cuisine"
                       placeholder="Search for cuisine type"
                       role="combobox"
                       aria-required="true"
                       aria-expanded="false"
                       aria-controls="true"
                      aria-haspopup="true" 
                       EnableDropDown="false"
                       AddItemOnEmptyResultMethod="HandleCuisineAdd">
        <SelectedTemplate Context="item">
         <span role="menuitem">@item.Name</span> 
        </SelectedTemplate>
        <ResultTemplate Context="item">
            @item.Name
        </ResultTemplate>
        <NotFoundTemplate Context="searchText">
            <span role="menuitem">Add "@searchText" as a new Cuisine <br />
            new Cuisine will be selected after being added.</span>
        </NotFoundTemplate>
    </BlazoredTypeahead>
    <ValidationMessage aria-alert="true" For="@(() =>  Recipe.Cuisine)" />

</div>
@code {
    [Parameter] public RecipeDto Recipe { get; set; }
    public IList<CuisineDto> Cuisines { get; set; } = new List<CuisineDto>();

    protected override async Task OnInitializedAsync() => Cuisines = await CuisineManager.GetAll();

    private async Task<IEnumerable<CuisineDto>> SearchCuisines(string searchText) => await Task.FromResult(Cuisines.Where(x => x.Name.ToLower().Contains(searchText.ToLower())).ToList());

    private async Task<CuisineDto> HandleCuisineAdd(string searchAdd)
    {
        var result = await CuisineManager.Insert(new CuisineDto() { Name = searchAdd.ToLower() });
        if (result is not null)
        {
            Cuisines.Add(result as CuisineDto);
        }
        return await Task.FromResult(result);
    }
}