 <div  class="col-4">
                            <BlazoredTypeahead MaximumSuggestions=3  id="utensilInput"
                            SearchMethod="SearchUtensils"                                                                  
                                                                  @bind-Value="Part.Utensil"
                                                                  placeholder= "Search for utensil"
                                                                   role="combobox"
                                                                   aria-required="true"
                                                                   aria-expanded="false"
                                                                   aria-controls="true"
                                                                   aria-haspopup="true" 
                                                                 EnableDropDown="false"
                                                                  AddItemOnEmptyResultMethod="HandleIngredientAdd" >
                                                                      <SelectedTemplate Context="utensil"  >
                                                                      <span role="menuitem"> @utensil.UtensilName</span>
                                                                      </SelectedTemplate>
                                                                  <ResultTemplate Context="utensil">
                                                                        @utensil.UtensilName                                                                
                                                                  </ResultTemplate>
                                                                  <NotFoundTemplate Context="searchText">
                                                                      <span role="menuitem" >  Add "@searchText" as a new utensil <br />
                                                                         new utensil will be selected after being added.</span>
                                                                 </NotFoundTemplate>
                            </BlazoredTypeahead>               
                            <ValidationMessage aria-alert="true" For="@(() =>  Part.Utensil)" />

                            </div>
        
                            
@code {
    [Parameter]public UtensilPart Part{get;set;}
    [Parameter]public IUtensilManager UtensilManager{get;set;}
    [Parameter]public IList<UtensilDto> Utensils{get;set;}

    private async Task<IEnumerable<UtensilDto>> SearchUtensils(string searchText) => await Task.FromResult(Utensils.Where(x => x.UtensilName.ToLower().Contains(searchText.ToLower())).ToList());

    private async Task<UtensilDto> HandleIngredientAdd(string searchAdd)
    {
        var result = await UtensilManager.Insert(new UtensilDto() {UtensilName = searchAdd.ToLower() });
        if(result is not null)
        {            
            Utensils.Add(result as UtensilDto);
        }
        return await Task.FromResult(result);
    }
}
