@page "/edit-recipe/{RecipeId}"
@inject IUploadImageManager ImageManager
@inject IRecipeManager RecipeManager

<PageTitle>Edit Recipe - CookTo</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Recipe</li>
    </ol>
</nav>
@if(_isLoading)
{
    <p>Loading Recipe</p>
}
else
{
       <h3 class="mt-5 mb-4">Editing Recipe: @_recipe.Title</h3>
@if (_submitSuccessful)
{
    <SuccessAlert Message="Your trail has been added successfully!" />
}
else if (_errorMessage is not null)
{
    <ErrorAlert Message="@_errorMessage" />
}
}
<RecipeForm Recipe="_recipe" OnSubmit="SubmitEditRecipe"/>

@code {
    private bool _isLoading;   
    private bool _submitSuccessful;
    private string? _errorMessage;
    private Recipe _recipe = new Recipe();

    [Parameter] public string RecipeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var response = await RecipeManager.GetById(RecipeId);
       
    }
    private async Task SubmitEditRecipe(Recipe recipe,IBrowserFile image)
    {

        var response = await RecipeManager.Update(recipe);
        if (!response)
        {
            _errorMessage = "There was a problem saving your Recipe.";
            _submitSuccessful = false;
            StateHasChanged();
            return;
        }
        else
        {
            _recipe = recipe;

            _submitSuccessful = true;
            if(recipe.ImageAction == ImageAction.Add)
            {
                _submitSuccessful = await ProcessImage(recipe.Id, image!);
            }
            if (recipe.ImageAction == ImageAction.Remove) 
            {
                _recipe.Image = null;
            }
            StateHasChanged();
        }
    }

    private async Task<bool> ProcessImage(string recipeId,IBrowserFile? image)
    {
        var imageUploadResponse = await ImageManager.UploadImage(recipeId, image);
        if (string.IsNullOrWhiteSpace(imageUploadResponse))
        {
            _errorMessage = "Your recipe was saved but there was a problem uploading the image";
            return false;
        }
        _recipe.Image = imageUploadResponse;
        return true;
    }
 }
