@page "/recipe/{RecipeId}"
@inject IRecipeManager RecipeManager
<PageTitle>@RecipeDto.Title</PageTitle>

<BreadCrumb PageName="@RecipeDto.Title"/>

@if(_isLoading)
{
       <p>Loading Recipe</p>
}
else
{
    <p>blah</p>
}


@code {
    public RecipeDto RecipeDto=new();
    private bool _isLoading = true;  
    [Parameter] public string RecipeId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await RecipeManager.GetById(RecipeId);
        if(response is null)
        {

        }
        _isLoading = false;
        RecipeDto = response;
    }
}
