@page "/edit-recipe/{RecipeId}"
@attribute [Authorize]
@inject  IImageManager ImageManager
@inject  RecipeManager RecipeManager

<PageTitle>Edit Recipe - CookTo</PageTitle>
<BreadCrumb PageName="Edit Recipe"/>
@if(_isLoading)
{
    <p>Loading Recipe</p>
}
else
{
       <h3 class="mt-5 mb-4">Editing Recipe: @_recipe.Title</h3>
@if (_submitSuccessful)
{
    <SuccessAlert Message="Your recipe has been updated successfully!" />
}
else if (_errorMessage is not null)
{
    <ErrorAlert Message="@_errorMessage" />
}
}
<RecipeForm Recipe="_recipe" OnSubmit="SubmitEditRecipe"/>

@code {
    private bool _isLoading;   
    private bool _submitSuccessful;
    private string? _errorMessage;
    private Recipe _recipe ;


    [Parameter] public string RecipeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _recipe = await RecipeManager.GetByIdAsync(RecipeId);
        _isLoading = false;
    }

    private async Task SubmitEditRecipe(Recipe recipe,IBrowserFile image)
    {

        var response = await RecipeManager.Update(recipe);
        if (response is not null)
        {
            _errorMessage = "There was a problem saving your Recipe.";
            _submitSuccessful = false;
            StateHasChanged();
            return;
        }
        else
        {
            _recipe = recipe;

            _submitSuccessful = true;
            if(_recipe.ImageAction == ImageAction.Add && recipe.Image is null || recipe.Image == string.Empty)
            {
                _submitSuccessful = await ProcessImage(recipe.Id, image!);
            }
            if (_recipe.ImageAction == ImageAction.Remove) 
            {
                _recipe.Image = null;
            }
            StateHasChanged();
        }
    }

    private async Task<bool> ProcessImage(string recipeId,IBrowserFile? image)
    {
        var imageUploadResponse = await ImageManager.UploadImage(recipeId, image);
        if (string.IsNullOrWhiteSpace(imageUploadResponse))
        {
            _errorMessage = "Your recipe was saved but there was a problem uploading the image";
            return false;
        }
        _recipe.Image = imageUploadResponse;
        return true;
    }
 }
