@page "/edit-recipe/{RecipeId}"
@attribute [Authorize]
@inject  IImageManager ImageManager
@inject  RecipeManager RecipeManager
@inject AppState AppState

<PageTitle>Edit Recipe - CookTo</PageTitle>
<BreadCrumb PageName="Edit Recipe"/>

@if (_recipe is not null)
{
    <h3 class="mt-5 mb-4">Editing Recipe: @_recipe.Title</h3>
}
<LoadingDisplay IsLoading=@_isLoading>  
    <NotificationDisplay SubmitSuccessful=_submitSuccessful ErrorMessage="@_errorMessage" ProcessType="update" />
</LoadingDisplay>


<RecipeForm Recipe="_recipe" OnSubmit="SubmitEditRecipe"/>

@code {
    private bool _isLoading;   
    private bool _submitSuccessful;
    private string? _errorMessage;
    private Recipe _recipe ;


    [Parameter] public string RecipeId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _recipe = await RecipeManager.GetByIdAsync(RecipeId);
    

        _isLoading = false;
    }

    private async Task SubmitEditRecipe(Recipe recipe,IBrowserFile image)
    {

        var response = await RecipeManager.Update(recipe);
        if (response is null)
        {
            _errorMessage = "There was a problem saving your Recipe.";
            _submitSuccessful = false;
            StateHasChanged();
            return;
        }
        else
        {
            _recipe = recipe;

            _submitSuccessful = true;
            if(_recipe.ImageAction == ImageAction.Add && recipe.Image is null || recipe.Image == string.Empty)
            {
                _submitSuccessful = await ProcessImage(recipe.Id, image!);
            }
            if (_recipe.ImageAction == ImageAction.Remove) 
            {
                _recipe.Image = null;
            }
            StateHasChanged();
        }
    }

    private async Task<bool> ProcessImage(string recipeId,IBrowserFile? image)
    {
        var imageUploadResponse = await ImageManager.UploadImage(recipeId, image);
        if (string.IsNullOrWhiteSpace(imageUploadResponse))
        {
            _errorMessage = "Your recipe was saved but there was a problem uploading the image";
            return false;
        }
        _recipe.Image = imageUploadResponse;
        return true;
    }
 }
