@page "/"
@inject IRecipeSummaryManager RecipeSummaryManager

<PageTitle>CookTo Recipes</PageTitle>
@if (_recipeSummaries is null || !_recipeSummaries.Any())
{
    <p>Recipes Loading</p>
}
else
{
     <HighlightedRecipe  />
     <div class="row mt-5">
         <div role="list" class="grid">
             @foreach(var recipe in _recipeSummaries)
             {       
                 <RecipeCard RecipeSummary="@recipe" />
             }
             </div> 
      </div>
   
        <div class="mb-4 mt-4">
            <p class="font-italic text-center">Have a recipe to share <a aria-label="navAddRecipe" href="add-recipe">Add Recipe here</a>.</p>
        </div>
   }

@code {
    private IEnumerable<RecipeSummaryDto>? _recipeSummaries= new List<RecipeSummaryDto>();
  
    protected override async Task OnInitializedAsync()
    {
        try
        {    
            _recipeSummaries =  await RecipeSummaryManager.GetCount(10);           
            await InvokeAsync(StateHasChanged);
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading Recipe data: {ex.Message}");
        }
    }
}