@page "/"
@inject IRecipeManager RecipeManager
@inject NavigationManager NavigationManager

<PageTitle>CookTo Recipes</PageTitle>

@if (_recipes == null)
{
    <p>Loading recipes...</p>
}
else
{
    @if (_recipes.Any())
    {
        <div class="grid">
        @foreach(var recipe in _recipes)
        {
            <RecipeCard Recipe=recipe OnSelected="@HandleRecipeSelected"/>
        }
        </div>
        <div class="mb-4">
            <p class="font-italic text-center">Have a recipe to share <a href="add-recipe">Add Recipe here</a>.</p>
        </div>

        
    }
    else
    {
        <div class="no-recipes">            
            <h3 class="text-muted font-weight-light">We currently don't have any recipes, <a href="add-recipe">add recipe</a></h3>
        </div>
    }
}

@code {
    private IEnumerable<RecipeDto>? _recipes;


    protected override async Task OnInitializedAsync()
    {
        try
        {       
            _recipes =  await RecipeManager.GetAll();
            await InvokeAsync(StateHasChanged);

        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading Recipe data: {ex.Message}");
        }
    }

    private void HandleRecipeSelected(RecipeDto recipe)
    {
        
    }
    
}