<FormInputGroup Id="cookingStepDescription" Label="Description" Width="col-sm-10" Margins="mb-2">
    <InputTextArea role="textbox" aria-required="true" @bind-Value="CookingStep.StepDescription" class="form-control" id="CookingStepDescription" />
    <ValidationMessage aria-alert="true" For="@(() => CookingStep.StepDescription)" />
</FormInputGroup>


  
        <div class="ms-4">
         <CookingStepIngredientList CookingStepIngredients="@CookingStep.CookingStepIngredients" />
       
   
        <ValidationMessage aria-alert="true" For="@(() => CookingStep.CookingStepIngredients)" />
    </div>
    <div class="d-flex justify-content-between">
    <button role="button" aria-label="newStepIngredient" class="btn btn-outline-primary col-sm-3 mb-2 " type="button" @onclick="@(() => CookingStep.CookingStepIngredients.Add(new CookingStepIngredient()))">Add Ingredient used in this step </button>
    @ChildContent

</div>
   



@code {
    [Parameter] public CookingStep CookingStep { get; set; } = new();
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
