<FormInputGroup Id="cookingStepDescription" Label="Description" Width="col-sm-10" Margins="mb-2">
    <InputTextArea role="textbox" aria-required="true" @bind-Value="CookingStep.StepDescription" class="form-control" id="CookingStepDescription" />
    <ValidationMessage aria-alert="true" For="@(() => CookingStep.StepDescription)" />
</FormInputGroup>

<div>
    <div>
        <div class="ms-4">
            <CookingStepIngredientList CookingStepIngredients="@CookingStep.CookingStepIngredients" />
        </div>
        <button role="button" aria-label="newPartIngredient" class="btn btn-outline-primary col-2 mb-2" type="button" @onclick="@(() => CookingStep.CookingStepIngredients.Add(new CookingStepIngredient()))">Add Ingredient used in this step </button>
        <ValidationMessage aria-alert="true" For="@(() => CookingStep.CookingStepIngredients)" />
    </div>
</div>

@code {
    [Parameter] public CookingStep CookingStep { get; set; }
}
